@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
body {
    background-color: #2e3133;
}

p {
    text-indent: 6em;
    margin-top: 20px;
    color: white;
}

h1 {
    text-indent: 6em;
    margin-top: 20px;
    color: white;
}

hr {
    width: 90%;
    margin-left: 100px;
}

.grid-image {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px 0;
    justify-content: center;
}

.grid-image img {
    /* width: calc(33.333% - 10px);
    margin: 0 15px 15px 0; */

    width: 250px;
    height: 350px;
    float: none;
    margin-left: 50px;
    border: 5px double lightslategray;
    display: block;
    }

.grid-image img:nth-of-type(3n),
.grid-image img:last-child {
    margin-right: 0;
}

@media screen and (max-width:640px) {
    .grid-image img {
        width: calc(50% - 15px);
    }
}

@media screen and (max-width:480px) {
    .grid-image img:nth-of-type(2n) {
        margin-right: 0;
    }

    .grid-image img:nth-of-type(3n) {
        margin-right: 15px;
    }

}

textarea {
        width: 25%;
        height: 6.25em;
        border: none;
        resize: none;
        
}

table {
    border-color: #6b685f;
    margin-left: 60%;
    margin-bottom: 30px;
}

td { 
    color: white;
}

th {
    color: white;
}

.star_rating {
    margin-left: 150px;
}

span {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 2.5em; color: white; left: auto;

}

.comment {
    margin-left: 10%; color: white;
}

.poster {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 300px; float: left;
}

.movie_title {
    margin-left: 40%;
    font-size: 50px; font-weight: bold;
    color: skyblue;
}

.slam {
    margin-left: 30%;
}

.jung {
    font-size: 30px; font-weight: bold;
    margin-left: 50px;
}

.com {
    font-size: 30px; font-weight: bold;
    margin-left: 80px;
}

.gif {
    margin-left: 300px;
    height: 500px;
}


/* 별점 */
#myform fieldset{
display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]{
display: none; /* 라디오박스 감춤 */
}
#myform label{
font-size: 3em; /* 이모지 크기 */
color: transparent; /* 기존 이모지 컬러 제거 */
text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#myform label:hover{
text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}
#myform label:hover ~ label{
text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤에오는 이모지들 */
}
#myform fieldset{
display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
direction: rtl; /* 이모지 순서 반전 */
border: 0; /* 필드셋 테두리 제거 */
}
#myform fieldset legend{
text-align: left;
}
#myform input[type=radio]:checked ~ label{
text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}
/* 별점 */



/* 세영 - 푸터 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
line-height: 1.5;
font-family: 'Poppins', sans-serif;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
}
.footer-container{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: #2e3133;
padding: 70px 0;
/* 푸터 배경색상 기존색 #24262b */
}
.footer-col{
width: 25%;
padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

.footer-m h4{
font-size: 14px;
color: #bbbbbb;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
text-align: center;
margin-top: 30px;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
width: 50%;
margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
width: 100%;
}
}

/* 스크롤바 디자인 변경 */
/* width */
::-webkit-scrollbar {
width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #2e3133;
border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(159, 89, 100);
border-radius: 7px;
}