/* h1 설정! */
@font-face {
    src: url("../fonts/스포카_ttf.ttf");
    font-family: "DH";
}
/* h2font */
@font-face {
    src: url("../fonts/한나11_ttf.ttf");
    font-family: "HN";
}

@media screen and (min-width:960px) and (max-width:1920px) {
}

#DH_font {
    font-family:"DH";
}
#HN_font {
    font-family:"HN";
}

/* 본문-유진 */
body {
height: 100%;
width: 100%;
}

body {
background: #2e3133;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color: #000;
margin: 0;
padding: 0;
}



.swiper {
width: 100%;
padding-top: 50px;
padding-bottom: 50px;
}

.swiper-slide {
background-position: center;
background-size: cover;
width: 1200px;
height: 100%;
}

.swiper-slide img {
display: block;
width: 100%;
}

.movie_image {
    width: 100%;
    height: 100%;
}

/* 아진 */

swiper-container {
width: 800px;
height:350px;
margin: 0px auto;
margin-bottom: 80px;
max-width: 100%;
    height: auto;
}
swiper-slide img {
display: block;
width: 240px;
height: 300px;
object-fit: cover;
margin-top: 50px;
}

h1 {
    text-align: center;
    color:white;
    font-size: 30px;
    margin-top: 40px;
}

h2 {
    text-align: center;
    color: lightpink;
    font-size: 30px;
}


/* 스크롤바 디자인 변경 */
/* width */
::-webkit-scrollbar {
width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #2e3133;
border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(159, 89, 100);
border-radius: 7px;
}