* {
    box-sizing: border-box;
  }
  

  .main-search {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
  }
  
  .search {
    position: relative;
    height: 50px;
  }
  
  .search .s_input {
    background-color: #2E3133;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
    border-radius: 50%;
  }
  
  .btn {
    background-color: #2E3133;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    float : right;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
    border-radius: 50%;
  }
  
  .btn:focus,
  .s_input:focus {
    outline: none;
  }
  
  .search.active .s_input {
    width: 200px;
    border-radius: 0%;
  }
  
  .search.active .btn {
    transform: translateX(198px);
    border-radius: 0%;
  }